In [ ]:
#print work as console.log

In [ ]:
print("Hello world")

Hello world

In [ ]:
# variables
# we can use Single quote,double quote,triple quote
UserName='Kainat'
# variables
#Single quote,double quote,triple quote
UserName='Kainat'
print(UserName)
#Double quote
ClientName="Drsaleem"
print (ClientName)
#triple quote
Introduction="""My name is kainat and my father name is Dr saleem """

Kainat
Drsaleem

In [ ]:

#use of string formatting
name = "Haseeb Haroon"
age = 19
print(f"your name is : {name}\nyour age is: {age}")

your name is : Haseeb Haroon
your age is: 19

In [ ]:
#*,+use case
print(5*10)
print("Haseeb Haroon " *10) # print 10 time
print("Haseeb " + "Haroon") #concatenate
print(7+7)

50
Haseeb Haroon Haseeb Haroon Haseeb Haroon Haseeb Haroon Haseeb Haroon Haseeb Haroon Haseeb Haroon Haseeb Haroon Haseeb Haroon Haseeb Haroon
Haseeb Haroon
14

In [ ]:
#user input
name = input("Enter your name: ")
print(f"good evening {name}")

good evening Kainat

In [ ]:

#Operators
print(7<8)
print(7>8)
print(7==8)
print(7!=8)
print(7>=8)
print(7<=8)

print(9+8,50-5)
print(8/4)

True
False
False
True
False
True
17 45
2.0

In [ ]:
#conditions
age = float(input("Enter your age...."))
if age>=18:
  print("You can vote")
else:
  print("You can not vote")

Enter your age....21
You can vote